<!DOCTYPE html>
<html lang="en">
<head>
  <title>Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <style>
 	body{
 		margin-top: 5%;
 		margin-left: 30px;
 		margin-right: 30px;
 	}
 	table{
 		table-layout:auto;word-break:break-all;
 		text-align:center;
 	}
 </style>
</head>
<body>
<div class ="page-header">
		<h1>Data info</h1>
	</div>
<div class=".container">
    <table class="table table-condensed table-hover table-stripe table-bordered ">
        <thead>
        <tr class ="info">
            <td><B>Date</B></td>
            <td><B>Latitude</B></td>
            <td><B>Longitude</B></td>
            <td><B>Equip_id</B></td>
            <td><B>Serial</B></td>
            <td><B>V1</B></td>
            <td><B>V2</B></td>
            <td><B>V3</B></td>
            <td><B>V4</B></td>
            <td><B>V5</B></td>
            <td><B>V6</B></td>
            <td><B>V7</B></td>
            <td><B>V8</B></td>
            <td><B>V9</B></td>
            <td><B>V10</B></td>
            <td><B>V11</B></td>
            <td><B>V12</B></td>
            <td><B>V13</B></td>
            <td><B>V14</B></td>
            <td><B>V15</B></td>
            <td><B>V16</B></td>
            <td><B>V17</B></td>
            <td><B>V18</B></td>
            <td><B>V19</B></td>
            <td><B>V20</B></td>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %} <!--Change right name -->
        <tr>
            <td> {{ post.date }} </td>
            <td> {{ post.latitude }} </td>
            <td> {{ post.longitude }} </td>
            <td> {{ post.equip_id }} </td>
            <td> {{ post.serial }} </td>
            <td> {{ post.v1 }} </td>
            <td> {{ post.v2 }}</td>
            <td> {{ post.v3 }} </td>
            <td> {{ post.v4 }}</td>
            <td> {{ post.v5 }} </td>
            <td> {{ post.v6 }}</td>
            <td> {{ post.v7 }} </td>
            <td> {{ post.v8 }}</td>
            <td> {{ post.v9 }} </td>
            <td> {{ post.v10 }}</td>
            <td> {{ post.v11 }} </td>
            <td> {{ post.v12 }}</td>
            <td> {{ post.v13 }} </td>
            <td> {{ post.v14 }}</td>
            <td> {{ post.v15 }} </td>
            <td> {{ post.v16 }}</td>
            <td> {{ post.v17 }} </td>
            <td> {{ post.v18 }}</td>
            <td> {{ post.v19 }} </td>
            <td> {{ post.v20 }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
<div class="text-center">
      {% if posts.has_previous %}
      <li class="page-item"><a class = "page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class= "page-item"><a class = "page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li class = "page-item"><a class = "page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
</body>
</html>
